<div class="profile">
  <div class ="">
    <div class="profile-person">
      <!-- Default panel contents -->
      
          <p class="imager">
            <%= image_tag @user.image.url %>
          </p>
      <div class="profile-words">
          <h1><%= @user.name %></h1>
          <% if @user.bio.present? %>
          <p><%= @user.bio %></p>
      </div>
      </div> <!-- profile-person -->
          <% end %>
        <div class="profile-map">
          <img src="http://i1352.photobucket.com/albums/q655/eanplatter/blankmap_zpse607be34.png">
        </div> <!-- profile-map -->

      </div> <!-- col-md-12 -->
    </div> <!-- profile -->
