<div class="home-body">
<div class="landing center">
	<h1> <span class="strokeme logoSecondary">R</span><span class="strokemeBlack logoPrimary">UGGED</span></h1>
	<p class="black">Are You <span class="landingTextGrey"><span class="landingText">RUGGED</span></span>?</p>
	<div class="text-center">
	<p>
		<%= link_to "LOGIN", new_user_session_path, class: "btn btn-warning btn-lg btn-block button-box" %>
		<%= link_to "JOIN", new_user_registration_path, class: "btn btn-warning btn-lg btn-block button-box" %>
	</p>
	</div>
</div>
<div class="screenshot-panel glass">
  <div class="screenshot-words container col-md-7">
    <h1>
        SHARE
    </h1>
    <p>
        With like minded individuals and connect with those
        who share your enthusiasm for the truly rugged lifestyle.
    </p>
  </div>
  <div class="screenshot text-center">
    <img src="http://i1352.photobucket.com/albums/q655/eanplatter/iphoneblackRugged_zps7e2fa1bc.png">
  </div>
</div>

<div class="screenshot-panel-2 glass"> 
  <div class="screenshot-2 text-center col-md-5">
    <img src="http://i1352.photobucket.com/albums/q655/eanplatter/iPadminiRD_Svr_PSR_PF_PB_PRINT_zps54c1b3c0.png">
  </div>
  <div class="screenshot-words-2 container col-md-7 pull-right">
    <h1>
        CONNECT
    </h1>
    <p>
        With people all around the world, share images,
        stories, videos and experiences.
    </p>
  </div>
</div>

<div class="footer">
  <footer class="text-center">
    <h1>ARE YOU RUGGED?</h1>
    <p><%= link_to "JOIN", new_user_registration_path, class: "btn btn-info btn-lg btn-block button-box" %></p>
    <h4 class="logo footer-logo">
      &copy; <span class="omg">R</span>UGGED INC
    </h4>
    <h3 class="logo logo-numb">2014</h3>

  </footer>
</div>
</div>