<div class="landing center">
	<h1 class="logo"><span class="omg">R</span>UGGED</h1>
	<p>Are You <span class="landingTextGrey"><span class="landingText">RUGGED</span></span>?</p>
	<div class="text-center">
	<p>
		<%= link_to "LOGIN", new_user_session_path, class: "btn btn-warning btn-lg btn-block button-box" %>
		<%= link_to "JOIN", new_user_registration_path, class: "btn btn-info btn-lg btn-block button-box" %>
	</p>
	</div>
</div>

