// Place all the styles related to the mobile views here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media only screen and (max-device-width: 480px) {

body, html { overflow-x:hidden;}

.home-body {
  background: url(http://i1352.photobucket.com/albums/q655/eanplatter/mountain_zps6c887604.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;

  }
  
.landing {
  margin: 0px !important;
  padding: 20px;
  padding-top: 20px;
  height: 600px;
}

.logo {
  margin-top: 1px;
  font-size: 50px;
  color: black !important ;
}

.landing h1 {
  font-size: 50px;
}
.omg {
  color: #FE2E2E;
  font-size: 50px;
}

.navbar-brand {
  font-size:50px !important;
}

.landingText{
  color: black;
}
.landingTextGrey{
    font-family: 'ethno';
  color: black !important ;
}

.landing p {
  font-size: 30px;
}

.button-box {
  display: block;
  border-radius: 5px;
  width: 100% !important;
  height: 40px;
  margin-top: 50px;
  
}

.panel-default {
  width: 100% !important;
  margin: 0% !important;
}

.form-group {
  width: 100% !important;
}

.form-control {
  width: 100% !important;
  height: 40px;
}

.panel-heading {
  margin: auto !important;
}

.panel-success {
  width: 155px !important;
  margin: 2px !important;
}

.username {
  font-size:10px;
}

.screenshot-panel {
  height: 0px;
}

.screenshot-words {
  padding-top: 0px;
  height: 0px;
}

.screenshot-words h1 {
  font-size: 0px;
  color: transparent;
}

.screenshot-words p {
  font-size: 0px;
  color: transparent !important;
}

.screenshot {
  padding-top: 0px;
  height: 0px !important;
  width: 0px !important;
  opacity: .0;

}

.screenshot-panel-2 {
  height: 0px;
}

.screenshot-words-2 {
  padding-top: 0px;
  height: 0px;
}

.screenshot-words-2 h1 {
  font-size: 0px;
}

.screenshot-words-2 p {
  font-size: 0px;
  color: transparent !important;
}

.screenshot-2 {
  padding-top: 0px;
  height: 0px !important;
  width: 0px !important;
  opacity: .0;

}

.footer {
  height: 0px;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  opacity: .0;
}

.footer-logo {
  margin-top: 0px;
  opacity: .0;
  margin-bottom: 0px !important;
}

.logo-numb {
  margin-top: 0px;
}

.panel-info {
  width: 100%;
  border-radius: 0px;
}

.panel-info img {
  width: 100%;
  border-radius: 0px;
}

}