// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin: 0 auto;
	border-radius: 5px !important;
}

.box{
	//border: 0px solid black;
	border: 0px solid #FF9400;
	border-radius: 5px !important;
	margin: 5px;
	width: 214px;
	background-color: black;
}

.box img {
	width: 100%;
	background-color: black;
}